.widthImg tr th{
    width: fit-content;
}

.widthImg tr td{
    max-width: 10rem;
}

.table-img{
    min-width: 100px;
}

.table-btn {
    width: 5rem;
}

.table-prods th, .table-prods td {
    vertical-align: inherit;
    text-align: center;
}

.table-destacado {
    background-color: #32b8170d;
}

.table-hover tbody .table-destacado:hover {
    background-color: #32b81729;
}