.rrss {
  position: fixed;
  top: 237px;
  right: 340px;
  z-index: 10000;
  width: 0;
}
.rrss a {
  text-decoration: none;
}
.rrss p {
  font-size: 22px;
  padding-left: inherit;
  color: #fff;
}
.rrss .fab {
  font-size: 30px;
  color: white;
  align-items: left;
  margin-right: 5px;
}
.social {
  display: flex;
  width: 0;
}
.social ul {
  padding: 0px;
  -webkit-transform: translate(-270px, 0);
  -moz-transform: translate(-270px, 0);
  -ms-transform: translate(270px, 0);
  -o-transform: translate(270px, 0);
  transform: translate(270px, 0);
}
.social ul li {
  display: block;

  background: rgba(252, 3, 90, 0.9);
  width: 190px;
  text-align: left;
  padding-right: 10px;
  -webkit-border-radius: 30px 0 0 30px;
  -moz-border-radius: 30px 0 0 30px;
  border-radius: 30px 0 0 30px;
  -webkit-transition: all 0.45s;
  -moz-transition: all 0.45s;
  -ms-transition: all 0.45s;
  -o-transition: all 0.45s;
  transition: all 0.45s;
}
.social ul li:hover {
  -webkit-transform: translate(-110px, 0);
  -moz-transform: translate(-110px, 0);
  -ms-transform: translate(-110px, 0);
  -o-transform: translate(-110px, 0);
  transform: translate(-110px, 0);
  background: rgba(252, 3, 90);
}
.social ul li:hover a {
  color: #fff;
  font-weight: bold;
}

.social ul li i {
  text-align: center;
  padding-top: 10px;
  padding-left: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 100%;
  height: 30px;
}
