
.box-Cart{
    height: 2.5rem;
    overflow: hidden;
  }
  
    .slide-top {
      -webkit-animation: slide-top 0.5s 0.2s both;
              animation: slide-top 0.5s 0.2s both;
  
    }
  
  
    @-webkit-keyframes slide-top {
      0% {
        -webkit-transform: translateY(-80px);
                transform: translateY(-80px);
      }
      100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
      }
    }
    @keyframes slide-top {
      0% {
        -webkit-transform: translateY(-80px);
                transform: translateY(-80px);
      }
      100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
      }
    }
  