.nav-dir hr {
  border: none;
  border-left: 1px solid hsla(200, 10%, 50%, 100);
  height: 20px;
  width: 1px;
}
@media (max-width: 768px) {
  .nav-dir hr {
    display: none;
  }
}
.nav-dir a {
  font-size: 20px;
  color: #17a2b8;
}
.nav-dir .shift a {
  position: relative;
  z-index: 1;
}
.nav-dir .shift a:hover {
  color: #0b515c;
}
.nav-dir .shift a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: ".";
  color: transparent;
  background: #17a2b8;
  visibility: none;
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}
.nav-dir .shift a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}
