.card-regist {
  width: 52rem;
  max-width: 39rem;
}
@media (max-width: 767px) {
  .card-header p {
    font-family: "Cabin Sketch", cursive;

    color: #17a2b8;
    font-weight: bold;
    font-size: 3.2rem;
    margin: 0;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .card-regist {
    width: 45rem;
  }
  .card-header p {
    font-size: 4.5rem;
  }
}
