.card-border {
  border: #17a2b8 2px dashed;
  max-width: 26rem;
}
.card-header-log {
  background-color: #fff;
}

.card-header-log p {
  font-family: "Cabin Sketch", cursive;
  color: #17a2b8;
  font-weight: bold;
  font-size: 3.2rem;
  margin: 0;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .card-header-log p {
    font-size: 2.5rem;
    text-align: justify center;
  }
}
@media (max-width: 575.98px) {
  .card-header-log p {
    font-size: 3rem;
    text-align: justify center;
  }
}

.bg-grandient-primary {
  background-color: #4e73df;
  background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
  background-size: cover;
}

.height-body {
  height: 100%;
}

.border-radius-form {
  border-radius: 10rem;
}

.checkbox-style {
  border-radius: 1rem;
}

.preloader {
  width: 40px;
  height: 40px;
  border: 5px solid #eee;
  border-top: 5px solid rgb(40, 122, 255);
  border-radius: 50%;
  animation-name: girar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
